<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" id="latest-news">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <h3 class="title">{{mars.latest_news_title}}</h3>
        <small class="description">{{mars.latest_news_desc}}</small>
      </div>
    </div>

  </div>

  <div class="container-3">
    <div class="row">
      <div class="col-8">
        <h2 class="heading">Featured Mars Image</h2>
          <a><img src={{mars.link}} alt="Featured Mars Image"></a>
      </div>
      <div class="col-4">
        <h2 class="heading">Mars Facts</h2>
        {{mars.html_table}}
      </div>
    </div>
  </div>

  <div class="container-3">
    <div class="row">
      <div class="col-8">
        <h2 class="heading">Mars Hemispheres</h2>

      </div>
      <div class="row">
        <div class="col">
          <a><img src={{mars.hemisphere_image_urls[0]['image_url']}} class="rounded" alt="Valles Marineris">Valles Marineris Hemisphere Enhanced</a>
        </div>
        <div class="col">
          <a><img src={{mars.hemisphere_image_urls[1]}} class="rounded" alt="Cerberus">Cerberus Hemisphere Enhanced</a>

        </div>
      </div>

      <div class="row">
        <div class="col">
          <a><img src={{mars.hemisphere_image_urls[2]}} class="rounded" alt="Schiaparelli">Schiaparelli Hemisphere Enhabced</a>

        </div>
        <div class="col"> 
          <a><img src={{mars.hemisphere_image_urls[3]}} class="rounded" alt="Syrtis Major">Syrtis Major Hemisphere Enhanced</a>

        </div>
      </div>
    </div>
  </div>

</body>

</html>
